spring:
  profiles:
      active: ${APP_PROFILE:test}
  application:
    name: "Fileflow"
    security:
        token:
            secret: ${FILE_FLOW_JWT_SECRET:12345678}
  flyway:
      enabled: true