spring:
  application:
    name: "Fileflow"
    security:
        token:
            secret: ${FILE_FLOW_JWT_SECRET:12345678}
  datasource:
    url: "jdbc:postgresql://localhost:5432/file_flow"
    username: "postgres"
    password: "admin"
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true