environment: "test"
spring:
    config:
        activate:
            on-profile: test
    application:
            name: "Fileflow"
            security:
                token:
                    secret: ${FILE_FLOW_JWT_SECRET:12345678}
    datasource:
        url: jdbc:h2:mem:testdb
        username: sa
        password:
    h2:
        console:
            enabled: true
            path: "/h2-console"
    jpa:
        properties:
            hibernate:
                show_sql: true
                format_sql: true
                ddl-auto: none
                dialect: org.hibernate.dialect.H2Dialect
integrations:
    ses:
        aws_region: "us-east-1"
        sender_email: "fulano@de.tal.com.br"
        access_key: "111111"
        secret_key: "111111"